<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqtoSQL.Properties.Settings.HotelBookingManConnectionString"
            connectionString="Data Source=MAYURESHB;Initial Catalog=HotelBookingMan;Persist Security Info=True;User ID=sa;Password=test123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>